header {
  font-size: 2rem;
  position: fixed;
  left: 0;
  right: 0;
  padding: .5em 1em;
  box-shadow: 0 2px 4px -2px black;
}


.name {
  float: left;
}

.links {
  float: right;
  text-decoration: none;
  color: inherit;
}

.links a {
  text-decoration: none;
  color: inherit;

}

footer {
  box-sizing: border-box;
  position: fixed;
  height: 64px;
  padding: 16px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  box-shadow: 0 -2px 4px -2px black;
}
footer .media-link {
  height: 32px;
}

footer a {
  margin-right: 64px;
  text-decoration: none;
  margin-right: 0;
}


header, footer {
  background: #f8f8f8;
}


