/*About*/

body.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


/*Index*/

.header a {
  border: 2px solid black;
  padding: 5px 10px;
  margin-right: 10px;
  
}


.index h3 {
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body.index {

  background-image: url("https://dm0qx8t0i9gc9.cloudfront.net/watermarks/image/rDtN98Qoishumwih/graphicstock-laptop-with-blank-screen-on-table_ruBgYijPxse_SB_PM.jpg") ;
  background-size: cover;
  background-size: 100%;
  background-repeat: none;
}

/*Portfolio*/